.test-app-button {
  display         : inline-block;
  flex-direction  : row;
  align-items     : center;
  justify-content : center;
  background-color: black;
  color           : white;
  padding         : 5px 15px;
  text-decoration : none;
}